/* --------- ----------- --------- */
/* --------- Base styles --------- */
/* --------- ----------- --------- */
html {
  height: 100%;
  font-size: 110%;
}
body {
  background-color: #f4f4f4;
  height: 100%;
  margin: 0;
  overflow-x: hidden;
  padding: 0;
}

textarea {
  resize: none;
}

a {
  text-decoration: none;
  line-height: 0;
}

.main-container {
  /* for the sticky footer, the main container needs a min height */
  min-height: calc(100vh - 29.5rem);
}

/* --------- ----------- --------- */
/* --------- Typography  --------- */
/* --------- ----------- --------- */
.lato {
  font-family: 'Lato', sans-serif;
}

.f-22px {
  font-size: 22px !important;
}

.f-15 {
  font-size: 0.9375rem;
}

.f-18 {
  font-size: 1.15rem;
}

@media screen and (min-width: 960px) {
  .f-18-l {
    font-size: 1.15rem;
  }
}

.f-75 {
  font-size: 4.688rem;
}

.f-70 {
  font-size: 4rem;
}

.f-24 {
  font-size: 1.5rem;
}

.f-21 {
  font-size: 1.313rem;
}

.f-22 {
  font-size: 1.375rem;
}

.f-23 {
  font-size: 1.438rem;
}

.f-42 {
  font-size: 1.625rem;
}

.f-58 {
  font-size: 3rem;
}

@media only screen and (min-width: 480px) {
  .f-42 {
    font-size: 2.625rem;
  }

  .lh-24-ns {
    line-height: 24px !important;
  }
}

.f-54 {
  font-size: 2.375rem;
}

@media only screen and (min-width: 480px) {
  .f-54-ns {
    font-size: 3.375rem;
  }

  .f-54-ns {
    font-size: 3.375rem;
  }
}

@media only screen and (min-width: 1060px) {
  .f-54-l {
    font-size: 3rem;
  }
}

@media only screen and (max-width: 30em) {
  .mb0-s {
    margin-bottom: 0;
  }
  .f-24-s {
    font-size: 1.2rem;
  }

  .p-r-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .mb1point5-s {
    margin-bottom: 1.5rem;
  }
}

.f-120 {
  font-size: 7.5rem;
}

.f-84 {
  font-size: 5.25rem;
}

.f-60 {
  font-size: 60px;
}

.f-28 {
  font-size: 1.75rem;
}

.f-26 {
  font-size: 1.625rem;
}

.f-34 {
  font-size: 2.125rem;
}

.f-36 {
  font-size: 2rem;
}

.f-38 {
  font-size: 2.375rem;
}

.f-20 {
  font-size: 1.25rem;
}

.f-18 {
  font-size: 1.125rem;
}

.f-13 {
  font-size: 0.8125rem;
}

.f-12 {
  font-size: 0.75rem;
}

.f-14 {
  font-size: 0.875rem;
}

.f-16 {
  font-size: 1rem !important;
}

.f-11 {
  font-size: 0.6875rem;
}

.f6 {
  font-size: 0.75rem !important;
}

.lh-tight {
  line-height: 0.8 !important;
}

.lh-none {
  line-height: 0 !important;
}

.lh-18 {
  line-height: 18px !important;
}

.lh-28 {
  line-height: 28px !important;
}

.lh-24 {
  line-height: 24px !important;
}

.lh-2 {
  line-height: 1.8;
}

.lh-14 {
  line-height: 1.4;
}

.lh-17 {
  line-height: 1.7;
}

/* --------- ------------- --------- */
/* ----- new brand typography ------ */
/* --- ALL NEW DESIGNS USE THESE --- */
/* --------- ------------- --------- */

.heading-1 {
  font-family: 'Lato', sans-serif;
  color: #33235b;
  font-size: 48px;
  line-height: 56px;
  font-weight: 900;
  margin-top: 0px;
  margin-bottom: 0px;
}

.heading-2 {
  font-family: 'Lato', sans-serif;
  color: #33235b;
  font-size: 30px;
  line-height: 36px;
  font-weight: 900;
  margin-top: 0px;
  margin-bottom: 0px;
}

.heading-3 {
  font-family: 'Lato', sans-serif;
  color: #33235b;
  font-size: 26px;
  line-height: 32px;
  font-weight: 900;
  margin-top: 0px;
  margin-bottom: 0px;
}

.heading-4 {
  font-family: 'Lato', sans-serif;
  color: #33235b;
  font-size: 22px;
  line-height: 26px;
  font-weight: 900;
  margin-top: 0px;
  margin-bottom: 0px;
}

.heading-5 {
  font-family: 'Lato', sans-serif;
  color: #33235b;
  font-size: 18px;
  line-height: 24px;
  font-weight: 900;
  margin-top: 0px;
  margin-bottom: 0px;
}

.paragraph-large {
  font-family: 'Lato', sans-serif;
  color: #33235b;
  font-size: 22px;
  line-height: 30px;
  font-weight: 400;
}

.paragraph-medium {
  font-family: 'Lato', sans-serif;
  color: #33235b;
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
}

.paragraph {
  font-family: 'Lato', sans-serif;
  color: #33235b;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.label {
  font-family: 'Lato', sans-serif;
  color: #33235b;
  font-size: 12px;
  line-height: 15px;
  font-weight: 500;
}

.text-link {
  font-family: 'Lato', sans-serif;
  color: #fa4f00;
  font-size: 18px;
  line-height: 15px;
  font-weight: 500;
  cursor: pointer;
}

.link-arrow {
  animation: reverse-fade 0.2s;
  animation-fill-mode: forwards;
}

.link-text {
  animation: reverse-slide 0.3s;
  animation-fill-mode: forwards;
}

.text-link:hover .link-text {
  animation: slide 0.3s;
  animation-fill-mode: forwards;
}

.text-link:hover .link-arrow {
  animation: fade 0.3s;
  animation-fill-mode: forwards;
}

.text-link:hover,
.text-link:focus {
  color: #b3430f;
}

@keyframes slide {
  from {
    margin-left: -1rem;
  }

  to {
    margin-left: 0rem;
  }
}

@keyframes reverse-slide {
  from {
    margin-left: 0rem;
  }

  to {
    margin-left: -1rem;
  }
}

@keyframes fade {
  from {
    display: none;
    opacity: 0;
  }

  to {
    display: inline-block;
    opacity: 1;
  }
}

@keyframes reverse-fade {
  from {
    display: inline-block;
    opacity: 1;
  }

  to {
    display: none;
    opacity: 0;
  }
}

/* --------- ----------- --------- */
/* ---------   spacing   --------- */
/* --------- ----------- --------- */

.h3point5 {
  height: 6rem;
}

.h5point5 {
  height: 20rem;
}

.h6 {
  height: 24rem;
}

.h-40 {
  height: 45rem;
}

.footerHeight {
  height: 75px;
}

.mt-1point3 {
  margin-top: 1.4rem;
}

.mb1point8 {
  margin-bottom: 1.8rem;
}

.mt--7 {
  margin-top: -7rem;
}

.mt-25 {
  margin-top: 0.25rem;
}

.mt-125 {
  margin-top: 0.125rem;
}

.mbn1 {
  margin-bottom: -1px;
}

.mt--3 {
  margin-top: -3px;
}

.mbn4 {
  margin-bottom: -4px;
}

.mbn5 {
  margin-bottom: -5px;
}

.mb--8 {
  margin-bottom: -8rem;
}

.mb-6 {
  margin-bottom: 0.375rem;
}

.mr-6 {
  margin-right: 0.375rem;
}

.mb-12rem {
  margin-bottom: 0.12rem;
}

.mln80 {
  margin-right: -300px;
}

.pvMedium {
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
}

.pv-large-3 {
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
}

.pv-28 {
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
}

.ph-mag-btn {
  padding-left: 1.2rem;
  padding-right: 1.1rem;
}

.phMedium {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.ph-large-4 {
  padding-left: 3rem !important;
  padding-right: 3rem !important;
}

@media only screen and (min-width: 30em) and (max-width: 1072px) {
  .self-center-ml {
    align-self: center !important;
  }
  .justify-center-ml {
    justify-content: center !important;
  }
  .pr0-ml {
    padding-right: 0 !important;
  }
  .mh5-ml {
    margin-right: 4rem !important;
    margin-left: 4rem !important;
  }
}

@media only screen and (min-width: 60em) and (max-width: 1025px) {
  .ml4_5-ipadpro {
    margin-left: 4.5rem !important;
  }
}

/* -l breakpoint  */
@media only screen and (min-width: 60em) {
  .ph-25-l {
    padding-left: 2.5rem !important;
    padding-right: 2.5rem !important;
  }
  .w-85-l {
    width: 85% !important;
  }
}

/* -ml breakpoint  */
@media only screen and (min-width: 1170px) and (max-width: 1440px) {
  .w-65-ml {
    width: 65% !important;
  }
  .w-35-ml {
    width: 35% !important;
  }
  .pr3-ml {
    padding-right: 1rem;
  }
}

/* -m breakpoint  */
@media only screen and (min-width: 30em) and (max-width: 70em) {
  .h-12-rem-m {
    height: 12rem !important;
  }
  .h-17-rem-m {
    height: 17rem !important;
  }
}

.ph-large-5 {
  padding-left: 7rem;
  padding-right: 7rem;
}

.mrn1 {
  margin-right: -1px;
}

.mt-11 {
  margin-top: 0.6875rem;
}

.mt--2 {
  margin-top: -2px;
}

.mt--6 {
  margin-top: -6px;
}

.mt--5 {
  margin-top: -5px;
}

.footer-content-ns {
  margin-top: 0;
}

.mt--13 {
  margin-top: -13rem;
}

.mt--white-triangle {
  margin-top: -12rem;
}

.mt--25 {
  margin-top: -25rem;
}

.pt-12-l {
  padding-top: 2rem;
}

.wb {
  word-break: break-word;
}

/* Landscape ipad breakpoint (needs the !important) */
@media only screen and (min-width: 960px) and (max-width: 1024px) {
  .w-60-m-l {
    width: 60% !important;
  }

  .pl3-m-l {
    padding-left: 1rem !important;
  }

  .pl5-m-l {
    padding-left: 4rem !important;
  }

  .w-80-m-l {
    width: 80% !important;
  }
  .min-h-5 {
    min-height: 7rem !important;
  }
}

@media only screen and (min-width: 1600px) {
  .pt-12-l {
    padding-top: 12rem !important;
  }
}

@media only screen and (min-width: 1025px) {
  .h-20-l {
    height: 15rem;
  }

  .w-45-l {
    width: 45%;
  }

  .pt-12-l {
    padding-top: 9rem;
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1280px) {
  .pl-3-l {
    padding-left: 3rem !important;
  }

  .h-20-l {
    height: 17rem;
  }

  .w-45-l {
    width: 50%;
  }

  .pt-12-l {
    padding-top: 6rem;
  }
}

@media only screen and (min-width: 60em) {
  .footer-content-l {
    margin-top: -4%;
  }

  .mt--white-triangle {
    margin-top: -20rem;
  }

  .h-13 {
    height: 13rem;
  }
  .mb1point2-l {
    margin-bottom: 1.2rem;
  }
}

@media only screen and (min-width: 960px) {
  .h-13-l {
    height: 13rem;
  }
}

@media only screen and (min-width: 92em) {
  .mt--white-triangle {
    margin-top: -26rem;
  }
}

/* -nl breakpoint  */
@media only screen and (max-width: 60em) {
  .w-18-rem-nl {
    width: 1.8rem;
  }
  .h-10-nl {
    height: 10rem !important;
  }
}

.mv-5 {
  margin-top: 0.3125rem;
  margin-bottom: 0.3125rem;
}

.mv-6-rem {
  margin-top: 6rem;
  margin-bottom: 6rem;
}

.h-7 {
  height: 7.6rem;
}

.h-13 {
  height: 13rem;
}

.h-18 {
  height: 18rem;
}

.h-30 {
  height: 30rem;
}

.h-25-rem {
  height: 30rem;
}

@media only screen and (min-width: 30em) and (max-width: 60em) {
  .h-25-rem {
    height: 25rem;
  }
  .homepage-carousel-min-h {
    min-height: 15.3rem !important;
    min-width: 16.2rem !important;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .w-49-to-ipad-pro {
    width: 49% !important;
  }
}

.h-62 {
  height: 3.875rem;
}

.h-69 {
  height: 69.36px;
}

.h50 {
  height: 3.125rem;
}

.h-26 {
  height: 1.625rem;
}

.h-018 {
  height: 0.18rem;
}

.mw-5 {
  max-width: 5rem;
}

.mw-6-rem {
  max-width: 6rem;
}

.mw-57 {
  max-width: 57rem;
}

.mw-300 {
  max-width: 18.75rem;
}

.mw-360 {
  max-width: 22.5rem;
}

.mw-496 {
  max-width: 31rem;
}

.w-45 {
  width: 45%;
}

.w-15 {
  width: 15%;
}

.w-25 {
  width: 25%;
}

.w-35 {
  width: 35%;
}

@media only screen and (min-width: 60em) {
  .w-15-l {
    width: 15% !important;
  }

  .w-25-l {
    width: 25%;
  }

  .w-38-l {
    width: 38% !important;
  }

  .mw-33-l {
    max-width: 33rem;
  }

  .mw-27-l {
    max-width: 27rem;
  }
}

.w-200 {
  width: 200px;
}

.mw-5-rem {
  max-width: 5rem;
}

.right---25 {
  right: -25px;
}

.bottom-14 {
  bottom: 14px;
}

.mw-10-rem {
  max-width: 10rem;
}

@media only screen and (min-width: 60rem) {
  .mw-10-rem-l {
    max-width: 10rem;
  }
}

.mw-13-rem {
  max-width: 13rem;
}

.mw-16-rem {
  max-width: 16rem;
}

.mw-28-rem {
  max-width: 28rem;
}

.mw-38-rem {
  max-width: 38rem;
}

.mw-40-rem {
  max-width: 40rem;
}

.mw-46-rem {
  max-width: 46rem;
}

.mw-53-rem {
  max-width: 54.5rem;
}

.mw-480 {
  max-width: 30rem;
}

.mw-540 {
  max-width: 33.75rem;
}

.mw-160px {
  max-width: 160px;
}

.mt-80 {
  margin-top: 3.688rem;
}

.pt-6 {
  padding-top: 0.375rem;
}

.minw-10-rem {
  min-width: 10rem;
}

@media only screen and (min-width: 48em) {
  .minh-175-l {
    min-height: 175px;
  }
}

.logo-gallery-img {
  height: 15rem;
  width: 15rem;
}

.dynamic-icon {
  height: 60px;
  width: 60px;
}

@media only screen and (max-width: 480px) {
  .lh-48 {
    line-height: 48px !important;
  }

  .dynamic-icon {
    height: 32px;
    width: 32px;
  }
}

@media only screen and (min-width: 60em) {
  .mw-360-l {
    max-width: 22.5rem;
  }
}

@media only screen and (min-width: 480px) {
  .minw-10-rem-ns {
    min-width: 10rem;
  }
  .minw-31-rem-ns {
    min-width: 31rem;
  }

  .w-50-1-ns {
    width: 50.1% !important;
  }
  .w-30-1-ns {
    width: 30.1% !important;
  }

  .mw-11-rem-ns {
    max-width: 11rem;
  }

  .w-31 {
    width: 31%;
  }

  .w-68 {
    width: 68%;
  }

  .h-30-ns {
    height: 30rem;
  }

  .vh-10-ns {
    height: 10vh;
  }
}

.w70 {
  width: 70%;
}

.vh-35 {
  height: 35vh;
}

.min-h-5 {
  min-height: 5rem;
}

.min-h-2 {
  min-height: 2.5rem;
}

.vh-min-14 {
  min-height: 14vh;
}

.vh-min-25 {
  min-height: 25vh;
}

.left--1000 {
  left: -1000px;
}

.left--70 {
  left: -70px;
}

.left--170 {
  left: -170px;
}

.right--1000 {
  right: -1000px;
}

.right--500 {
  right: -23rem;
}

/* -l breakpoint  */
@media only screen and (min-width: 60em) {
  .right-20-l {
    right: 20% !important;
  }
}

.top--62 {
  top: -2.3rem;
}

.top-after-nav {
  top: 3.688rem;
}

.top--52 {
  top: -3rem;
}

.top--66 {
  top: -4.125rem;
}

.top--150 {
  top: -150px;
}

.top--225 {
  top: -225px;
}

.z--1 {
  z-index: -1;
}

.center {
  margin-right: auto;
  margin-left: auto;
}

.ml--4 {
  margin-left: -4px;
}

.ml--6 {
  margin-left: -6px;
}

.mt-auto {
  margin-top: auto;
}

.mb-auto {
  margin-bottom: auto;
}

.mb-5 {
  margin-bottom: 5rem;
}

/* -s breakpoint  */
@media only screen and (max-width: 30em) {
  .dn-s {
    display: none;
  }
}

/* --------- ----------- --------- */
/* ---------   colors    --------- */
/* --------- ----------- --------- */

.ownr-warning {
  color: #f5a623;
}

.bg-ownr-light-warning {
  background-color: #fef4e4;
}

.bg-ownr-background-gray {
  background-color: #f4f4f4 !important;
}

.ownr-black {
  color: #000000;
}

.ownr-off-black {
  color: #4a4a4a;
}

.outline-moon-gray {
  outline-color: #ccc !important;
}

.b--ownr-moon-gray {
  border-color: #ccc;
}

.ownr-blue {
  color: #005de9;
}

.bg-ownr-blue {
  background-color: #005de9;
}

.b--ownr-blue {
  border-color: #005de9;
}

.hover-ownr-blue:hover,
.hover-ownr-blue:focus {
  color: #005de9;
}

.hover-bg-ownr-blue:hover,
.hover-bg-ownr-blue:focus {
  background-color: #005de9;
}

.hover-bg-ownr-light-purple:hover,
.hover-bg-ownr-light-purple:focus {
  background-color: #e6e0eb;
}

.bg-ownr-light-purple {
  background-color: #e6e0eb;
}

.ownr-light-blue {
  color: #f1f7ff;
}

.bg-ownr-light-blue {
  background-color: #f1f7ff;
}

.b--ownr-light-blue {
  border-color: #f1f7ff;
}

.hover-ownr-light-blue:hover,
.hover-ownr-light-blue:focus {
  color: #f1f7ff;
}

.hover-bg-ownr-light-blue:hover,
.hover-bg-ownr-light-blue:focus {
  background-color: #f1f7ff;
}
.b--ownr-thin-blue {
  border-color: #105ee0;
}

.ownr-lightest-blue {
  color: #f5fafb;
}
.bg-ownr-lightest-blue {
  background-color: #f5fafb;
}
.b--ownr-lightest-blue {
  border-color: #f5fafb;
}

.hover-ownr-lightest-blue:hover,
.hover-ownr-lightest-blue:focus {
  color: #f5fafb;
}

.hover-bg-ownr-lightest-blue:hover,
.hover-bg-ownr-lightest-blue:focus {
  background-color: #f5fafb;
}

.ownr-red {
  color: #da0308;
}

.ownr-red-important {
  color: #da0308 !important;
}

.bg-ownr-red {
  background-color: #da0308;
}

.b--ownr-red {
  border-color: #da0308;
}

.hover-ownr-red:hover,
.hover-ownr-red:focus {
  color: #da0308;
}

.hover-bg-ownr-red:hover,
.hover-bg-ownr-red:focus {
  background-color: #da0308;
}

.ownr-light-red {
  color: #fff1f1;
}

.bg-ownr-light-red {
  background-color: #fff1f1;
}

.b--ownr-light-red {
  border-color: #fff1f1 !important;
}

.hover-ownr-light-red:hover,
.hover-ownr-light-red:focus {
  color: #fff1f1;
}

.hover-bg-light-red:hover,
.hover-bg-light-red:focus {
  background-color: #fff1f1;
}

.ownr-turquoise {
  color: #02e9c0;
}
.bg-ownr-turquoise {
  background-color: #02e9c0;
}
.b--ownr-turquoise {
  border-color: #02e9c0;
}

.hover-ownr-turquoise:hover,
.hover-ownr-turquoise:focus {
  color: #02e9c0;
}

.hover-bg-ownr-turquoise:hover,
.hover-bg-ownr-turquoise:focus {
  background-color: #02e9c0;
}

.ownr-light-turquoise {
  color: #f7fffd;
}
.bg-ownr-light-turquoise {
  background-color: #f7fffd;
}

.b--ownr-light-turquoise {
  border-color: #f7fffd;
}

.hover-ownr-light-turquoise:hover,
.hover-ownr-light-turquoise:focus {
  color: #f7fffd;
}

.hover-bg-ownr-light-turquoise:hover,
.hover-bg-ownr-light-turquoise:focus {
  background-color: #f7fffd;
}

.ownr-white {
  color: #ffffff;
}

.b--ownr-white {
  border-color: #ffffff;
}

.hover-ownr-white:hover,
.hover-ownr-white:focus {
  color: #ffffff;
}

.no-text-decoration {
  text-decoration: none;
}
.text-decoration-hover-underline:hover {
  text-decoration: underline;
}

.bg-ownr-white {
  background-color: #ffffff;
}

.bg-ownr-half-grey-half-white {
  background: linear-gradient(180deg, #f4f4f4 50%, #ffffff 50%);
}

.bg-ownr-half-white-half-grey {
  background: linear-gradient(180deg, #ffffff 50%, #f4f4f4 50%);
}

.ownr-light-gray {
  color: #efefef;
}
.bg-ownr-light-gray {
  background-color: #efefef;
}
.b--ownr-light-gray {
  border-color: #efefef;
}

.hover-ownr-light-gray:hover,
.hover-ownr-light-gray:focus {
  color: #efefef;
}

.hover-bg-ownr-light-gray:hover,
.hover-bg-ownr-light-gray:focus {
  background-color: #efefef;
}

.bg-ownr-light-blue-gray {
  background-color: #f8f9fb;
}

.bg-ownr-white {
  background-color: #ffffff;
}

.hover-bg-ownr-white:hover,
.hover-bg-ownr-white:focus {
  background-color: #ffffff;
}

.ownr-near-white {
  color: #f7f7f7;
}
.bg-ownr-near-white {
  background-color: #f7f7f7;
}
.b--ownr-near-white {
  border-color: #f7f7f7;
}

.hover-ownr-near-white:hover,
.hover-ownr-near-white:focus {
  color: #f7f7f7;
}

.hover-bg-ownr-near-white:hover,
.hover-bg-ownr-near-white:focus {
  background-color: #f7f7f7;
}

.bg-ownr-off-white {
  background-color: #fcfcfc;
}

.ownr-medium-light-gray {
  color: #b9b9b9;
}

.bg-ownr-medium-light-gray {
  background-color: #b9b9b9;
}
.b--ownr-medium-light-gray {
  border-color: #b9b9b9;
}

.hover-b--ownr-medium-light-gray:hover {
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.2);
}

.shadow-ownr-medium-gray {
  box-shadow: 0px 1px 20px #bfbfbf;
}

.shadow-ownr-light-purple {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
}

.hover-shadow-ownr-light-purple:hover {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
}

.hover-shadow-1:hover {
  box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.3);
}

.list-item-disabled {
  color: #b9b9b9 !important;
  background-color: rgba(255, 255, 255, 0.75);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.b--ownr-medium-lighter-gray {
  border-color: #776f8b;
}
.b--ownr-medium-opacity-gray {
  border-color: rgba(90, 84, 105, 0.2);
}

.hover-ownr-medium-light-gray:hover,
.hover-ownr-medium-gray:focus {
  color: #b9b9b9;
}

.hover-bg-ownr-medium-light-gray:hover,
.hover-bg-ownr-medium-light-gray:focus {
  background-color: #b9b9b9;
}

.ownr-medium-gray {
  color: #9b9b9b;
}

.bg-ownr-medium-gray {
  background-color: #9b9b9b;
}

.hover-ownr-medium-gray:hover,
.hover-ownr-medium-gray:focus {
  color: #9b9b9b;
}

.hover-bg-ownr-medium-gray:hover,
.hover-bg-ownr-medium-gray:focus {
  background-color: #9b9b9b;
}

.ownr-dark-gray {
  color: #333333;
}

.bold-hover:hover {
  font-weight: 600;
}

.ownr-dark-gray-original {
  color: #454545;
}

.bg-ownr-dark-gray {
  background-color: #454545;
}
.b--ownr-dark-gray {
  border-color: #454545;
}

.hover-ownr-dark-gray:hover,
.hover-ownr-dark-gray:focus {
  color: #454545;
}

.hover-bg-ownr-dark-gray:hover,
.hover-bg-ownr-dark-gray:focus {
  background-color: #454545;
}

.ownr-medium-dark-gray {
  color: #666666;
}

.ownr-gray {
  color: #565656;
}
.bg-ownr-gray {
  background-color: #565656;
}
.b--ownr-gray {
  border-color: #565656;
}

.hover-ownr-gray:hover,
.hover-ownr-gray:focus {
  color: #565656;
}

.hover-bg-ownr-gray:hover,
.hover-bg-ownr-gray:focus {
  background-color: #565656;
}

.ownr-notification-blue {
  color: #5faaff;
}

.ownr-faded-blue {
  color: #8ab9ff;
}
.bg-ownr-faded-blue {
  background-color: #8ab9ff;
}
.b--ownr-faded-blue {
  border-color: #8ab9ff;
}

.hover-ownr-faded-blue:hover,
.hover-ownr-faded-blue:focus {
  color: #8ab9ff;
}

.hover-bg-ownr-faded-blue:hover,
.hover-bg-ownr-faded-blue:focus {
  background-color: #8ab9ff;
}

.ownr-medium-turquoise {
  color: #c6eee8;
}
.bg-ownr-medium-turquoise {
  background-color: #c6eee8;
}
.b--ownr-medium-turquoise {
  border-color: #c6eee8;
}

.hover-ownr-medium-turquoise:hover,
.hover-ownr-medium-turquoise:focus {
  color: #c6eee8;
}

.hover-bg-ownr-medium-turquoise:hover,
.hover-bg-ownr-medium-turquoise:focus {
  background-color: #c6eee8;
}

.ownr-orange {
  color: #ff5f15;
}
.bg-ownr-orange {
  background-color: #ff5f15;
}
.b--ownr-orange {
  border-color: #ff5f15;
}

.hover-ownr-orange-dark:hover,
.hover-ownr-orange-dark:focus {
  color: #b3430f;
}

.hover-ownr-orange:hover,
.hover-ownr-orange:focus {
  color: #ff5f15;
}

.hover-ownr-orange-dark:hover,
.hover-ownr-orange-dark:focus {
  color: #b3430f;
}
.hover-bg-ownr-orange-dark:hover {
  background-color: #b3430f;
}

.hover-white:hover,
.hover-white:hover {
  color: #ffffff;
}

.hover-transition:hover,
.hover-transition:focus {
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.hover-bg-ownr-orange:hover,
.hover-bg-ownr-orange:focus {
  background-color: #ff5f15;
}

.hover-white:hover,
.hover-white:hover {
  color: #ffffff;
}

.ownr-extra-light-blue {
  color: #f9fbfd;
}
.bg-ownr-extra-light-blue {
  background-color: #f9fbfd;
}
.b--ownr-light-blue {
  border-color: #5faaff;
}
.b--ownr-extra-light-blue {
  border-color: #f9fbfd;
}

.hover-ownr-extra-light-blue:hover,
.hover-ownr-extra-light-blue:focus {
  color: #f9fbfd;
}

.hover-bg-ownr-extra-light-blue:hover,
.hover-bg-ownr-extra-light-blue:focus {
  background-color: #f9fbfd;
}

:root {
  --ownr-light-purple: #4a3f67;
  --ownr-dark-purple: #322947;
  --ownr-brand-dark-purple: #33235b;
  --ownr-orange: #ff5f15;
  --ownr-gray: #565656;
  --priority-notification-color: #ff0371;
}

.ownr-medium-purple {
  color: #7745a1;
}
.bg-ownr-medium-purple {
  background-color: #7745a1;
}
.b--ownr-medium-purple {
  border-color: #7745a1;
}

.hover-ownr-medium-purple:hover,
.hover-ownr-medium-purple:focus {
  color: #7745a1;
}

.hover-bg-ownr-medium-purple:hover,
.hover-bg-ownr-medium-purple:focus {
  background-color: #7745a1;
}

.hover-purple-bg-white-color:hover,
.hover-purple-bg-white-color:focus {
  background-color: #4a3f67;
  color: white;
  border-color: #4a3f67;
}

.ownr-purple {
  color: #776ea6;
}
.bg-ownr-purple {
  background-color: #776ea6;
}
.b--ownr-purple {
  border-color: #776ea6;
}

.hover-ownr-purple:hover,
.hover-ownr-purple:focus {
  color: #776ea6;
}

.hover-bg-ownr-purple:hover,
.hover-bg-ownr-purple:focus {
  background-color: #776ea6;
}

.ownr-brand-pink {
  color: #ff066e;
}

.ownr-pink {
  color: #ff0371;
}
.bg-ownr-pink {
  background-color: #ff0371;
}
.b--ownr-pink {
  border-color: #ff0371;
}

.hover-ownr-pink:hover,
.hover-ownr-pink:focus {
  color: #ff0371;
}

.hover-bg-ownr-pink:hover,
.hover-bg-ownr-pink:focus {
  background-color: #ff0371;
}

.ownr-greyish-brown {
  color: #454545;
}
.bg-ownr-greyish-brown {
  background-color: #454545;
}

.ownr-white-purple {
  color: #cdcbd9;
}

.bg--ownr-white-purple {
  background-color: #cdcbd9;
}

.b--ownr-white-purple {
  border-color: #cdcbd9;
}

.bg-ownr-light-pruple {
  background-color: rgba(224, 223, 238, 0.5);
}

.ownr-dark-purple {
  color: #4a3f67;
}
.bg-ownr-dark-purple {
  background-color: #4a3f67;
}
.b--ownr-dark-purple {
  border-color: #4a3f67;
}
.b--ownr-dark-purple {
  border-color: #4a3f67;
}

.hover-ownr-dark-purple:hover,
.hover-ownr-dark-purple:focus {
  color: #4a3f67;
}

.hover-bg-ownr-dark-purple:hover,
.hover-bg-ownr-dark-purple:focus {
  background-color: #4a3f67;
}

.ownr-dark-blue {
  color: #5c97bf;
}
.bg-ownr-dark-blue {
  background-color: #5c97bf;
}
.b--ownr-dark-blue {
  border-color: #5c97bf;
}

.hover-ownr-dark-blue:hover,
.hover-ownr-dark-blue:focus {
  color: #5c97bf;
}

.hover-bg-ownr-dark-blue:hover,
.hover-bg-ownr-dark-blue:focus {
  background-color: #5c97bf;
}

.ownr-medium-red {
  color: #efb7b8;
}
.bg-ownr-medium-red {
  background-color: #efb7b8;
}
.b--ownr-medium-red {
  border-color: #efb7b8;
}

.hover-ownr-medium-red:hover,
.hover-ownr-medium-red:focus {
  color: #efb7b8;
}

.hover-bg-ownr-medium-red:hover,
.hover-bg-ownr-medium-red:focus {
  background-color: #efb7b8;
}

.ownr-dark-turquoise {
  color: #3cebc9;
}
.bg-ownr-dark-turquoise {
  background-color: #3cebc9;
}
.b--ownr-dark-turquoise {
  border-color: #3cebc9;
}

.hover-ownr-dark-turquoise:hover,
.hover-ownr-dark-turquoise:focus {
  color: #3cebc9;
}

.hover-bg-ownr-dark-turquoise:hover,
.hover-bg-ownr-dark-turquoise:focus {
  background-color: #3cebc9;
}

.ownr-darkest-purple {
  color: #312948;
}
.bg-ownr-darkest-purple {
  background-color: #312948;
}
.b--ownr-darkest-purple {
  border-color: #312948;
}

.hover-ownr-darkest-purple:hover,
.hover-ownr-darkest-purple:focus {
  color: #312948;
}

.hover-bg-ownr-darkest-purple:hover,
.hover-bg-ownr-darkest-purple:focus {
  background-color: #312948;
}

.ownr-muted-purple {
  color: #585370;
}
.bg-ownr-muted-purple {
  background-color: #585370;
}
.b--ownr-muted-purple {
  border-color: #585370;
}

.hover-ownr-muted-purple:hover,
.hover-ownr-muted-purple:focus {
  color: #585370;
}

.hover-bg-ownr-muted-purple:hover,
.hover-bg-ownr-muted-purple:focus {
  background-color: #585370;
}

.bg-ownr-blue-gray {
  background-color: #f0f0f4;
}

.stripes-blue {
  background: repeating-linear-gradient(
    -55deg,
    #e9f1fb,
    #e9f1fb 1px,
    #f5fafb 1px,
    #f5fafb 3px
  );
}

.stripes-gray {
  background: repeating-linear-gradient(
    -55deg,
    #f0f0f4,
    #f0f0f4 1px,
    #ffffff 1px,
    #ffffff 3px
  );
}

.bg-ownr-pink-gradient-darker {
  background: linear-gradient(90deg, #ff5f15 0%, #f13461 100%);
}

.bg-ownr-orange-pink-gradient {
  background: #ff5c17; /* Old browsers */
  background: -moz-linear-gradient(
    left,
    #ff5c17 0%,
    #ff0371 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    left,
    #ff5c17 0%,
    #ff0371 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to right,
    #ff5c17 0%,
    #ff0371 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(
      startColorstr='#ff5c17',
      endColorstr='#ff0371',
      GradientType=1
    ); /* IE6-9 */
}

.hover-bg-ownr-orange-pink-gradient:hover {
  background: #ff5c17; /* Old browsers */
  background: -moz-linear-gradient(
    left,
    #ff5c17 0%,
    #ff0371 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    left,
    #ff5c17 0%,
    #ff0371 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to right,
    #ff5c17 0%,
    #ff0371 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(
      startColorstr='#ff5c17',
      endColorstr='#ff0371',
      GradientType=1
    ); /* IE6-9 */
}

.bg-ownr-purple-gradient {
  background: #3a385c; /* Old browsers */
  background: -moz-linear-gradient(
    left,
    #3a385c 0%,
    #7974a7 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    left,
    #3a385c 0%,
    #7974a7 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to right,
    #3a385c 0%,
    #7974a7 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(
      startColorstr='#3a385c',
      endColorstr='#7974a7',
      GradientType=1
    ); /* IE6-9 */
}

.bg-ownr-dark-purple-gradient {
  background: #2e2054; /* Old browsers */
  background: -moz-linear-gradient(
    left,
    #2e2054 0%,
    #554280 50%,
    #2e2054 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    left,
    #2e2054 0%,
    #554280 50%,
    #2e2054 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to right,
    #2e2054 0%,
    #554280 50%,
    #2e2054 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(
      startColorstr='#2E2054',
      endColorstr='#2E2054',
      GradientType=1
    ); /* IE6-9 */
}

.bg-lr-ownr-dark-purple-gradient {
  background: #2e2054; /* Old browsers */
  background: -moz-linear-gradient(
    left,
    #2e2054 0%,
    #554280 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    left,
    #2e2054 0%,
    #554280 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to right,
    #2e2054 0%,
    #554280 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(
      startColorstr='#2E2054',
      endColorstr='#554280',
      GradientType=1
    ); /* IE6-9 */
}

@media screen and (min-width: 960px) {
  .bg-lr-ownr-dark-purple-gradient-ns {
    background: #2e2054; /* Old browsers */
    background: -moz-linear-gradient(
      left,
      #2e2054 0%,
      #554280 100%
    ); /* FF3.6-15 */
    background: -webkit-linear-gradient(
      left,
      #2e2054 0%,
      #554280 100%
    ); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(
      to right,
      #2e2054 0%,
      #554280 100%
    ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(
        startColorstr='#2E2054',
        endColorstr='#554280',
        GradientType=1
      ); /* IE6-9 */
  }
}

.ownr-purple-blue-gradient {
  background: #857ebc; /* Old browsers */
  background: -moz-linear-gradient(
    top,
    #857ebc 0%,
    #c9c2ff 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    #857ebc 0%,
    #c9c2ff 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    #857ebc 0%,
    #c9c2ff 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(
      startColorstr='#857ebc',
      endColorstr='#c9c2ff',
      GradientType=0
    ); /* IE6-9 */
}

.caution-yellow {
  color: #f5a623;
}

.priority-notification {
  border-left: 5px var(--priority-notification-color) solid;
}

.bt0 {
  border-top-width: 0 !important;
}

.bt--dotted {
  border-top-style: dotted;
  border-width: 1px;
}

.bb--dotted {
  border-bottom-style: dotted;
  border-width: 1px;
}

.brr-none {
  border-bottom-right-radius: 0 !important;
  border-top-right-radius: 0 !important;
}

.brl-none {
  border-bottom-left-radius: 0 !important;
  border-top-left-radius: 0 !important;
}

.bb--jagged {
  position: relative !important;
}

.bb--jagged::after {
  background: linear-gradient(-45deg, #ffffff 16px, transparent 0),
    linear-gradient(45deg, #ffffff 16px, transparent 0);
  background-repeat: repeat-x;
  background-size: 12px 41px;
  z-index: 0;
  content: ' ';
  display: block;
  position: absolute;
  bottom: -33px;
  left: 0px;
  width: 100%;
  height: 32px;
  transform: rotate(180deg);
}

.striped--light-gray-even:nth-child(even) {
  background-color: #eee;
}

.striped--light-gray-odd:nth-child(odd) {
  background-color: #eee;
}

.hover-bg-transparent:hover {
  background: transparent;
}

/* --------- ------------- --------- */
/* ------- new brand colours ------- */
/* --- ALL NEW DESIGNS USE THESE --- */
/* --------- ------------- --------- */

.ownr-brand-dark-purple {
  color: #33235b;
}

.bg-ownr-brand-dark-purple {
  background-color: #33235b;
}

.b--ownr-brand-dark-purple {
  border-color: #33235b;
}

.hover-ownr-brand-dark-purple:hover,
.hover-ownr-brand-dark-purple:focus {
  color: #33235b;
}

.hover-bg-ownr-brand-dark-purple:hover,
.hover-bg-ownr-brand-dark-purple:focus {
  background-color: #33235b;
}

.ownr-brand-purple {
  color: #564d8b;
}

.bg-ownr-brand-purple {
  background-color: #564d8b;
}

.b--ownr-brand-purple {
  border-color: #564d8b;
}

.hover-ownr-brand-purple:hover,
.hover-ownr-brand-purple:focus {
  color: #564d8b;
}

.hover-bg-ownr-brand-purple:hover,
.hover-bg-ownr-brand-purple:focus {
  background-color: #564d8b;
}

.ownr-brand-light-gray {
  color: #f0f3f6;
}

.bg-ownr-brand-light-gray {
  background-color: #f0f3f6;
}

.bg-ownr-brand-light-gray-off-white {
  background: linear-gradient(180deg, #f0f3f6 0 20%, #fcfcfc 20% 100%);
}

.b--ownr-brand-gray {
  border-color: #aba8b2;
}

.b--ownr-brand-light-gray {
  border-color: #f0f3f6;
}

.hover-ownr-brand-light-gray:hover,
.hover-ownr-brand-light-gray:focus {
  color: #f0f3f6;
}

.hover-bg-ownr-brand-light-gray:hover,
.hover-bg-ownr-brand-light-gray:focus {
  background-color: #f0f3f6;
}

.bg-ownr-75-brand-light-gray-25-white {
  background: linear-gradient(180deg, #f0f3f6 75%, #ffffff 25%);
}

.bg-ownr-50-light-gray-50-off-white {
  background: linear-gradient(180deg, #f5f5f5 50%, #fcfcfc 50%);
}

.ownr-brand-dark-gray {
  color: #706c7f;
}

.bg-ownr-brand-dark-gray {
  background-color: #706c7f;
}

.b--ownr-brand-dark-gray {
  border-color: #706c7f;
}

.hover-ownr-brand-dark-gray:hover,
.hover-ownr-brand-dark-gray:focus {
  color: #706c7f;
}

.hover-bg-ownr-brand-dark-gray:hover,
.hover-bg-ownr-brand-dark-gray:focus {
  background-color: #706c7f;
}

.ownr-brand-off-white {
  color: #fcfcfc;
}

.bg-ownr-brand-off-white {
  background-color: #fcfcfc;
}

.b--ownr-brand-off-white {
  border-color: #fcfcfc;
}

.hover-ownr-brand-off-white:hover,
.hover-ownr-brand-off-white:focus {
  color: #fcfcfc;
}

.hover-bg-ownr-brand-off-white:hover,
.hover-bg-ownr-brand-off-white:focus {
  background-color: #fcfcfc;
}

.bg-ownr-brand-purple-gradient {
  background: #33235b; /* Old browsers */
  background: -moz-linear-gradient(
    left,
    #33235b 0%,
    #564d8b 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    left,
    #33235b 0%,
    #564d8b 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to right,
    #33235b 0%,
    #564d8b 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(
      startColorstr='#33235B',
      endColorstr='#564D8B',
      GradientType=1
    ); /* IE6-9 */
}

.ownr-brand-orange {
  color: #fa4f00;
}

.bg-ownr-brand-orange {
  background-color: #fa4f00;
}

.b--ownr-brand-orange {
  border-color: #fa4f00;
}

.hover-ownr-brand-orange:hover,
.hover-ownr-brand-orange:focus {
  color: #fa4f00;
}

.hover-bg-ownr-brand-orange:hover,
.hover-bg-ownr-brand-orange:focus {
  background-color: #fa4f00;
}

.ownr-brand-light-orange {
  color: #ff7231;
}

.bg-ownr-brand-light-orange {
  background-color: #ff7231;
}

.b--ownr-brand-light-orange {
  border-color: #ff7231;
}

.hover-ownr-brand-light-orange:hover,
.hover-ownr-brand-light-orange:focus {
  color: #ff7231;
}

.hover-bg-ownr-brand-light-orange:hover,
.hover-bg-ownr-brand-light-orange:focus {
  background-color: #ff7231;
}

.hover-bg-ownr-brand-dark-orange:hover,
.hover-bg-ownr-brand-dark-orange:focus {
  background-color: #b3430f;
}

.ownr-brand-red {
  color: #d0021b;
}

.bg-ownr-brand-red {
  background-color: #d0021b;
}

.b--ownr-brand-red {
  border-color: #d0021b;
}

.hover-ownr-brand-red:hover,
.hover-ownr-brand-red:focus {
  color: #d0021b;
}

.hover-bg-ownr-brand-red:hover,
.hover-bg-ownr-brand-red:focus {
  background-color: #d0021b;
}

.ownr-brand-light-red {
  color: rgba(208, 2, 27, 0.08);
}

.bg-ownr-brand-light-red {
  background-color: rgba(208, 2, 27, 0.08);
}

.b--ownr-brand-light-red {
  border-color: rgba(208, 2, 27, 0.08);
}

.hover-ownr-brand-light-red:hover,
.hover-ownr-brand-light-red:focus {
  color: rgba(208, 2, 27, 0.08);
}

.hover-bg-ownr-brand-light-red:hover,
.hover-bg-ownr-brand-light-red:focus {
  background-color: rgba(208, 2, 27, 0.08);
}

.ownr-green {
  color: #74b928;
}

/* --------- ------------- --------- */
/* --------- custom inputs -------- */
/* --------- ------------- --------- */

/*removes highlighting from autofill*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus,
select:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}

.disabled-pointer {
  cursor: not-allowed;
}

.no-pointer-events {
  pointer-events: none;
}

.label-animate {
  pointer-events: none;
  transform-origin: 0 -150%;
  -webkit-transform-origin: 0 -150%;
  -webkit-transition: -webkit-all 300ms ease;
  transition: all 300ms ease;
  transition: -webkit-all 300ms ease;
  transition: all 300ms ease, -webkit-transform 300ms ease;
}

/*underline for active inputs*/
hr {
  border: none;
  bottom: 0;
  content: '';
  display: block;
  font-size: 1px;
  height: 2px !important;
  left: 0;
  margin: 0 0 -1px 0;
  padding: 0;
  position: absolute;
  transition: all 200ms ease-in-out;
  transform: scaleY(0);
  -webkit-transform: scaleY(0);
  -webkit-transition: all 300ms ease-in-out;
  visibility: hidden;
  width: 100%;
  will-change: transform, visibility;
  z-index: 4;
}

input:focus ~ hr,
select:focus ~ hr {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  visibility: visible;
}

select::-ms-expand {
  display: none;
}

.smooth-transition {
  transition: all 0.5s ease-in-out;
}
.smooth-transition-arrow {
  transition: transform 0.25s linear;
}

.transition-4 {
  transition-duration: 0.2s;
}

.error-animate {
  -webkit-animation: opacity-animate 0.5s;
  -moz-animation: opacity-animate 0.5s;
  -o-animation: opacity-animate 0.5s;
  animation: opacity-animate 0.5s;
}

@-webkit-keyframes opacity-animate {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes opacity-animate {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@-o-keyframes opacity-animate {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@keyframes opacity-animate {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

input:focus ~ .label-animate {
  transform: translateY(-20px);
  -webkit-transform: translateY(-20px);
}

.label-animate-translate {
  transform: translateY(-20px);
  -webkit-transform: translateY(-20px);
}

.moneris-iframe-styles {
  /**
    width:100% isn't wide enough for unknown reasons.
    width:101% makes the width of the iframe work well, but then the alignment of the input fields does not match the row above
  */
  width: 101%;
  position: relative;
  left: -2px;
}

.moneris-svg-logo {
  height: 100px;
  margin-top: -36px;
  margin-left: -8px;
}

.public_fixedDataTable_header,
.public_fixedDataTable_header,
.public_fixedDataTableCell_main {
  border-right-style: none;
}

.public_fixedDataTable_header,
.public_fixedDataTable_hasBottomBorder {
  border-color: #efefef;
}

.public_fixedDataTable_bottomShadow {
  background: none;
}

/* --------- --------------- --------- */
/* --------- loading spinner --------- */
/* --------- --------------- --------- */

@-webkit-keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.rotating {
  -webkit-animation: rotating 2.75s ease-in-out infinite;
  -moz-animation: rotating 2.75s ease-in-out infinite;
  -ms-animation: rotating 2.75s ease-in-out infinite;
  -o-animation: rotating 2.75s ease-in-out infinite;
  animation: rotating 2.75s ease-in-out infinite;
}

.ReactModal__Body--open {
  overflow: hidden;
}

.loading-logo-position {
  bottom: 26px;
  left: 16px;
}

.incorporation-registration-textarea-size {
  height: 13.125rem;
}

.DateInput {
  width: 175px;
}

.flex-grow-1 {
  flex-grow: 1;
}

.flex-grow {
  flex: 1;
}

.order--1 {
  order: -1;
}

.w70 {
  width: 70px;
}

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  left: 19px;
  top: 23px;
  color: white;
  z-index: 1000;
}

/* General sidebar styles */
.bm-menu {
  overflow: auto;
  overflow-y: hidden;
  background: #f0f3f6;
}

.navbar-link {
  color: #ffffff;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  line-height: 22px;
  cursor: pointer;
  margin-right: 24px;
  float: left;
  position: relative;
}

.dropdown:hover .navbar-link::after,
.navbar-link:hover::after,
.active-location::after {
  border-bottom: 2px solid white;
  bottom: -22px;
  content: ' ';
  left: 0;
  position: absolute;
  right: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 65px;
  padding-top: 7px;
  min-width: 178px;
  z-index: 1;
}

#light-navbar-dropdown-content {
  top: 55px;
}

.dropdown-shadow {
  box-shadow: 0 2px 35px 0 rgba(0, 0, 0, 0.1);
}

.dropdown-link {
  color: #33235b;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  line-height: 19px;
  padding-left: 20px;
  padding-right: 20px;
  display: block;
}

.dropdown:hover .dropdown-content,
.dropdown-content:hover {
  display: block;
}

/* light gray navbar styles */
.light-navbar-link {
  color: var(--ownr-brand-dark-purple);
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  line-height: 22px;
  cursor: pointer;
  margin-right: 24px;
  float: left;
  position: relative;
}

.dropdown:hover .light-navbar-link::after,
.light-navbar-link:hover::after,
.light-navbar-active-location::after {
  border-bottom: 2px solid var(--ownr-brand-dark-purple);
  bottom: -10px;
  content: ' ';
  left: 0;
  position: absolute;
  right: 0;
}

.b--nav-light-line {
  border-color: rgba(51, 35, 91, 0.15);
}

.b--nav-dark-line {
  border-color: rgba(51, 35, 91, 0.5);
}

.logo-menu {
  position: absolute;
  top: 26px; /* position the top  edge of the element at the middle of the parent */
  left: 55%; /* position the left edge of the element at the middle of the parent */
  transform: translate(-50%, -50%);
  background: var(--ownr-light-purple);
}

.pl-custom-list {
  padding-left: 50px;
}

@media all and (orientation: portrait) {
  .footer-text {
    position: absolute;
    bottom: 0px;
  }
}

.page-wrapper {
  margin-top: 3.688rem;
}

.page-wrapper-for-unsupported-browser-notification {
  margin-top: 8.5rem;
}

.page-wrapper-for-banner {
  margin-top: 6.6rem;
}

@media only screen and (max-width: 30em) {
  .page-wrapper-for-banner {
    margin-top: 8.8rem;
  }
  .page-wrapper-for-unsupported-browser-notification {
    margin-top: 13.5rem;
  }
}

.nav-spacing {
  height: 3.688rem;
}
.oval {
  border-top: 2.5px solid;
  opacity: 0.35;
  filter: blur(3.5px);
  background-color: #000000;
  background-color: var(--black);
}

.disc {
  list-style-type: disc;
}

.break-word {
  word-break: break-word;
}

.tracking {
  letter-spacing: 0.025em;
}

.action-dropdown:hover .action-dropdown-content {
  display: block;
}
.action-dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
}

.obj-f-cover {
  object-fit: cover;
}

/* --------- ---------------- --------- */
/* --------- component styles --------- */
/* --------- ---------------- --------- */

ol.ol-orange-number {
  counter-reset: li;
}

.orange-number::before {
  content: counter(li);
  color: var(--ownr-orange);
  font-family: 'Lato', sans-serif;
  font-size: 1.7em;
  display: inline-block;
  width: 1em;
  margin-top: 5px;
  margin-left: -1em;
  margin-left: -1.5em;
  margin-right: 0.5em;
  vertical-align: sub;
  text-align: right;
  direction: rtl;
}

.orange-number {
  counter-increment: li;
}

.orange-number-list {
  padding-left: 0px;
}

.orange-number-regular {
  counter-increment: list;
  list-style-type: none;
  position: relative;
}

.orange-number-regular:before {
  color: var(--ownr-orange);
  content: counter(list) '.';
  margin-right: 0.5rem;
  position: relative;
  font-weight: bold;
}

.blue-btn:hover {
  background-color: #0052cc;
}

.ownr-disabled-btn-long {
  background-color: #9b9b9b !important;
  cursor: not-allowed !important;
}

.light-dim:hover {
  opacity: 0.85;
}

.purple-btn:hover {
  background-color: #454158;
}

.logoHeaderImg {
  max-width: 150%;
}

@media only screen and (min-width: 600px) {
  .fit-content-ns {
    width: fit-content !important;
  }
}

/* Styles for Progress Bar */
.arrowBorder {
  width: 0px;
  height: 0px;
  border-top: 35px solid transparent;
  border-bottom: 35px solid transparent;
  border-left: 30px solid #9b9b9b;
}

.arrowFill {
  width: 0px;
  height: 0px;
  border-top: 34px solid transparent;
  border-bottom: 34px solid transparent;
  border-left: 29px solid #ffffff;
  position: relative;
  left: -30px;
  top: -34px;
}

.arrowSecond {
  position: relative;
  left: -32px;
  z-index: -1;
}

.arrowThird {
  position: relative;
  left: -64px;
  z-index: -2;
}

.arrowFourth {
  position: relative;
  left: -96px;
  z-index: -3;
}

.arrowFifth {
  position: relative;
  left: -128px;
  z-index: -4;
}

.arrowSixth {
  position: relative;
  left: -160px;
  z-index: -5;
}

#selectedArrow-fill {
  border-left: 29px solid #f0f0f4;
}

#selectedArrow-border {
  border-left: 32px solid #4a3f67;
}

/* would only be needed if something was unselected in the past */
#incompleteArrow-nextSelected-fill {
  border-left: 32px solid #ffffff;
  left: -36px;
}

#selected-arrowEnd {
  border-right: 4px solid #4a3f67;
}

#selected-arrowFirst {
  border-left: 4px solid #4a3f67;
}

#completedArrow-nextSelected-fill {
  border-left: 32px solid #f7f7f7;
  left: -36px;
}

#completedArrow-fill {
  border-left: 29px solid #f7f7f7;
  left: -30px;
}

/** override default styling of the date selector on User Dashboard's incorporation validation view */
.CalendarDay--selected {
  background: #4a3f67;
  border-color: #4a3f67;
}

.DayPicker__week-header {
  top: 57px;
}

.js-CalendarMonth__caption strong {
  font-weight: normal;
}

.DateInput__display-text--focused {
  background-color: #efefef;
  color: #565656;
}

.DayPickerKeyboardShortcuts__show--bottom-right,
.DayPickerKeyboardShortcuts__show--bottom-right:hover {
  border-right-color: #322947;
  border-top-width: 33px;
}

@media only screen and (min-width: 60em) {
  .mw-19-rem-l {
    max-width: 19rem;
  }

  .top--7r-l {
    top: 8.2rem;
    margin-left: 150px;
  }

  .w-25-l {
    width: 25%;
  }
}

.mw-70-rem {
  max-width: 70rem;
}

.mw-76-rem {
  max-width: 76rem;
}

.mw-25-rem {
  max-width: 25rem;
}

.mw-50-rem {
  max-width: 50rem;
}

.mw-76 {
  max-width: 65rem;
}

@media only screen and (min-width: 1024px) {
  .mw-76-rem {
    max-width: 76rem;
  }

  .minw-51-rem {
    min-width: 51.5rem;
  }

  .flex-grow-1-ipadpro {
    flex-grow: 1;
  }

  .justify-center-ipadpro {
    justify-content: center;
  }
}

@media only screen and (min-width: 960px) {
  .h-14-rem-l {
    height: 14rem;
  }

  .h-10-rem-l {
    height: 10rem;
  }

  .h-11-rem-l {
    height: 11rem;
  }

  .h-25-rem-l {
    height: 2.5rem;
  }
}

@media only screen and (min-width: 30em) {
  .h-10-rem-ns {
    height: 10rem;
  }

  .h-14-rem-ns {
    height: 14rem;
  }

  .mw-22-rem-ns {
    max-width: 22rem;
  }

  .w-32-ns {
    width: 32% !important;
  }

  .w-49-ns {
    width: 49% !important;
  }

  .mb1point2-ns {
    margin-bottom: 1.2rem;
  }

  .w-40-rem {
    width: 40rem;
  }
}

.purple-hr {
  width: 15%;
  border: 1px solid #4a3f67;
}

.gray-hr {
  border: 0.5px solid #dddddd;
}

/** used for checkboxes in BC Incorporation Consent fieldset */
.mt1dot25 {
  margin-top: 1.25rem;
}

.bolder {
  font-weight: bolder;
}

.triangle-container-svg {
  width: 100%;
  height: 20em;
}

.gradient-underline-orange {
  background: linear-gradient(
    90deg,
    rgba(255, 92, 23, 0) 0%,
    #ff5c17 50.35%,
    rgba(255, 92, 23, 0) 100%
  );
  opacity: 0.5;
}

.gradient-underline-white {
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    #ffffff 52.3%,
    rgba(255, 255, 255, 0) 100%
  );
}

.diffused-shadow {
  box-shadow: 0px 2px 30px 0px rgba(0, 0, 0, 0.1);
}

.testimonial-image {
  height: 6rem;
  width: 6rem;
}

.testimonial-text-large {
  display: block;
  width: 285px;
  padding-right: 182px;
  font-size: 18px;
}

.testimonial-image-large {
  height: auto;
  width: 100%;
  vertical-align: bottom;
  max-width: 290px;
  max-height: 246px;
}

.br2-top-right {
  border-top-right-radius: 0.25rem;
}

.br2-bottom-right {
  border-bottom-right-radius: 0.25rem;
}

/* alice carousel */
.alice-carousel__dots-item:hover,
.alice-carousel__dots-item.__active {
  background-color: var(--ownr-brand-dark-purple) !important;
}

.alice-carousel__dots-item {
  width: 0.8rem !important;
  height: 0.8rem !important;
  background-color: white !important;
  border: 1px solid var(--ownr-brand-dark-purple) !important;
}

@media only screen and (max-width: 60em) {
  .alice-carousel__dots {
    margin-top: 5px !important;
  }
}

.orange-roman-numeral::before {
  counter-increment: list;
  content: '(' counter(list, lower-roman) ') ';
  color: var(--ownr-orange);
  margin-left: -1.7rem;
}

.incorp-shares-page-icon {
  margin-top: 50px;
}

.mt3rem {
  margin-top: 3rem;
}

.mt4-7rem {
  margin-top: 4.7rem;
}

.mr-1-5rem {
  margin-right: 1.5rem;
}

.ml-1-5rem {
  margin-left: 1.5rem;
}

input.no-input-spinner::-webkit-outer-spin-button,
input.no-input-spinner::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.rbc-logo {
  height: 40px;
}

.congrats-img {
  margin-bottom: -203px;
  width: 409.67px;
}

@media only screen and (max-width: 960px) {
  .congrats-img {
    display: none;
  }
}

li.email-svg:hover {
  fill: #b3430f;
}

li.chat-svg:hover {
  fill: #b3430f;
}

/* Styles for IE10+ */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .h-100-ie {
    height: 100%;
  }

  .h-22-rem-ie {
    height: 22rem;
  }

  .h-28-rem-ie {
    height: 28rem;
  }
}

.chevron {
  transition: all 0.7s;
  transform-origin: center;
}

.chevron-down {
  transform: rotate(-180deg);
}

.collapse_item {
  cursor: pointer;
  outline: 0;
  border-top: 1px solid rgba(90, 84, 105, 0.2);
}

.collapse_item:last-of-type {
  border-bottom: 1px solid rgba(90, 84, 105, 0.2);
}
.dropdownContent {
  height: 0;
  transition: all 0.7s;
  overflow: hidden;
  margin: 1rem 2.2rem 0rem 0;
}
@media screen and (max-width: 960px) {
  .dropdownContent {
    height: 0;
    transition: all 0.7s;
    overflow: hidden;
    margin: 1rem 0 0 0;
  }
}
.federal-comparison-background {
  padding-top: 25rem;
  margin-bottom: -22rem;
}
@media screen and (max-width: 960px) {
  .federal-comparison-background {
    padding-top: 22rem;
    margin-bottom: -20rem;
  }
}
.testimonial-background {
  padding-top: 25rem;
  margin-bottom: -22rem;
}
@media screen and (max-width: 960px) {
  .testimonial-background {
    padding-top: 22rem;
    margin-bottom: -20rem;
  }
}

.pt-15 {
  padding-top: 1.5rem;
}

.superscript {
  vertical-align: super;
}

.superscript-large {
  vertical-align: 17px;
}

@media screen and (min-width: 960px) {
  .ml--5rem {
    margin-left: -5rem;
  }
  .w-27rem {
    width: 27rem;
  }
}

@media screen and (max-width: 960px) {
  .w-100-mobile {
    width: 100%;
  }

  .d-none {
    display: none !important;
  }
}

@media screen and (max-width: 940px) and (min-width: 527px) {
  .mb-ipad {
    margin-bottom: 6rem !important;
  }
}

/* bigger than ipad pro sizing */
@media screen and (min-width: 1025px) {
  .nml-5rem-xl {
    margin-left: -5rem !important;
  }
  .mt5-xl {
    margin-top: 4rem !important;
  }
  .mh6-xl {
    margin-left: 8rem !important;
    margin-right: 8rem !important;
  }
  .ph6-xl {
    padding-left: 8rem !important;
    padding-right: 8rem !important;
  }
  .w-27rem-xl {
    width: 27rem !important;
  }
  .w-35-xl {
    width: 35% !important;
  }
  .w-65-xl {
    width: 65% !important;
  }
  .w-80-xl {
    width: 80% !important;
  }
  .w-90-xl {
    width: 90% !important;
  }
  .dn-xl {
    display: none !important;
  }
  .bg-lr-ownr-dark-purple-gradient-xl {
    background: #2e2054; /* Old browsers */
    background: -moz-linear-gradient(
      left,
      #2e2054 0%,
      #554280 100%
    ); /* FF3.6-15 */
    background: -webkit-linear-gradient(
      left,
      #2e2054 0%,
      #554280 100%
    ); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(
      to right,
      #2e2054 0%,
      #554280 100%
    ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(
        startColorstr='#2E2054',
        endColorstr='#554280',
        GradientType=1
      ); /* IE6-9 */
  }
}
/* smaller than ipad pro sizing */
@media screen and (max-width: 1024px) {
  .mh5-nxl {
    margin-right: 4rem;
    margin-left: 4rem;
  }
  .w0-nxl {
    width: 0 !important;
  }
  .dn-nxl {
    display: none !important;
  }
}

@media screen and (min-width: 1025px) and (max-width: 2559px) {
  .homepage-carousel-min-h {
    min-height: 26.6rem !important;
    min-width: 29rem !important;
  }
}

@media screen and (min-width: 2559px) {
  .homepage-carousel-min-h {
    min-height: 27.5rem !important;
    min-width: 29.9rem !important;
  }
}

.h-80 {
  height: 80px;
}

.buttonStyling {
  padding-top: 0.9rem;
  padding-bottom: 0.9rem;
}

.rbc-logo-pricing-page {
  height: 52px;
  width: 40px;
}

.gray-line {
  border-bottom: solid 1.5px #e0dee6;
  width: 100%;
}

.mr--570 {
  margin-right: -570px;
}

.f-40px {
  font-size: 40px !important;
}

.br-15 {
  border-radius: 15px;
}

.error-info {
  margin-left: -7px;
  margin-bottom: -7px;
}

.gray-hr-left {
  border-left: 0.5px solid #dddddd;
}

.mr--5rem {
  margin-right: -5rem;
}

.ownr-purple-linear-gradient-dashboard {
  background: linear-gradient(270deg, #564d8b 0%, #33235b 100%);
}

.mt--0_6rem {
  margin-top: -0.6rem;
}

.h-42px {
  height: 42px;
}

.h-41px {
  height: 41px;
}

.h-40px {
  height: 41px;
}

.h-33px {
  height: 33px;
}

.h-30px {
  height: 28px;
}

.mt--7px {
  margin-top: -7px;
}

.doc-collapse-item {
  cursor: pointer;
  outline: 0;
  border-top: 1px solid rgb(51, 35, 91, 0.25);
}

.doc-collapse-item:hover {
  background-color: rgb(240, 243, 246, 0.4);
}

.pt-1 {
  padding-top: 1px;
}

.doc-collapse-bb {
  border-bottom: 1px solid rgb(51, 35, 91, 0.25);
}

.check-circle-green {
  fill: #74b928;
}

.top-two-sides-radius {
  border-radius: 5px 5px 0px 0px;
}

.bottom-both-border-radius {
  border-radius: 0px 0px 5px 5px;
}

.bottom-left-border-radius {
  border-radius: 0px 0px 0px 5px;
}

.bottom-right-border-radius {
  border-radius: 0px 0px 5px 0px;
}

@media only screen and (max-width: 60em) {
  .br--top-nl {
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
  }
}

.ownr-brand-red-fill {
  fill: #d0021b;
}

.bg-document-view-setting-tips {
  background-color: rgb(68, 66, 71, 0.2);
}

.ownr-offer-revised-font {
  color: #706c7f;
  line-height: 15px;
  font-size: 0.6rem !important;
}

@media only screen and (max-width: 30em) {
  .banner-text-mobile {
    font-size: 0.8rem !important;
    line-height: 15px !important;
  }
}
.purple-text-link {
  font-family: 'Lato', sans-serif;
  color: #33235b;
  font-size: 18px;
  line-height: 15px;
  font-weight: 500;
  cursor: pointer;
}

.orange-text-link {
  font-family: 'Lato', sans-serif;
  color: #fa4f00;
  font-size: 18px;
  line-height: 15px;
  font-weight: 500;
  cursor: pointer;
}

.black-text-link {
  font-family: 'Lato', sans-serif;
  color: #333333;
  font-size: 18px;
  line-height: 15px;
  font-weight: 500;
  cursor: pointer;
}

.padding-bottom-hover-purple-underline:hover {
  border-bottom: 1px solid #33235b;
}

.padding-bottom-hover-orange-underline:hover {
  border-bottom: 1px solid #fa4f00;
}

.text-decoration-hover-bold:hover,
.text-decoration-hover-bold:focus {
  -webkit-text-stroke: 1px #33235b;
}

.fadein-enter {
  opacity: 0;
  transition: opacity 1300ms;
}

.fadein-enter.fadein-enter-active {
  opacity: 1;
  transition: opacity 1300ms;
}

.blog-card-border {
  border: 1px solid rgba(90, 84, 105, 0.15);
}

.homepage-carousel-min-h {
  min-height: 18.9rem;
  min-width: 20.1rem;
}

.outter-dot {
  width: 18px;
  height: 18px;
  border: 2px solid #aba8b2;
}

.inner-dot {
  width: 10px;
  height: 10px;
  margin: 2px;
  animation: fadeIn 0.7s;
  background-color: #706c7f;
}

.outter-dot:hover .inner-dot {
  display: block;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transition: opacity 1300ms;
  }

  to {
    opacity: 1;
    transition: opacity 1300ms;
  }
}

.amount-owe-border {
  border-top: 1px solid rgba(51, 35, 91, 0.4);
}

.amount-owe-border:last-of-type {
  border-bottom: 1px solid rgba(51, 35, 91, 0.4);
}
